<% coffees.forEach( coffee=> { %>

    <h1>
        <%= coffee.name %>
    </h1>
    <p>
        <%= coffee.description %>
    </p>
    <button id="<%= coffee._id %>" class="addToOrderBtn"> Add to order</button>

    <% }) %>

        <div>

            <button id="submit">Submit Order</button>
        </div>